<section class="recipe-details flex flex-col m-12">
  <div class="recipe-info flex flex-col gap-12">
    <h1 class="text-xl font-bold w-full text-center">
      <%= @recipe.name %>
    </h1>
    <div class="flex flex-row justify-between items-start">
      <div>
        <h3 class="text-lg font-regular mb-3">
          Preparation time: <%= @recipe.preparation_time %>
        </h3>
        <h3 class="text-lg font-regular mb-3">
          Cooking time: <%= @recipe.cooking_time %>
        </h3>
        <h3 class="text-lg font-regular mb-3">
          Steps: <%= @recipe.description %>
        </h3>
      </div>
      <div>
        <% if current_user.present? && current_user.id == @recipe.user.id %>
          <%=form_with url: recipe_path(@recipe), method: "patch", class: "inline-flex relative items-center gap-3" do %>
            <span class="ml-3 text-gray-900 dark:text-gray-300 font-bold">Public</span>
            <label for="public-toggle" class="inline-flex relative items-center cursor-pointer">
              <%= check_box_tag 'public' , @recipe.public, @recipe.public, class: 'sr-only peer' , id: "public-toggle" , onchange: "this.form.submit()" %>
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600">
                </div>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="buttons flex justify-between mt-10">
      <div>
        <%=form_with model: Food.new, url: new_food_path, method: :get do %>
          <button class="rounded px-8 py-4 shadow-sm border-2">Generate shopping list</button>
        <% end %>
      </div>
      <div>
        <%=form_with model: Food.new, url: new_food_path, method: :get do %>
          <button class="rounded px-8 py-4 shadow-sm border-2">Add ingredient</button>
        <% end %>
      </div>
    </div>
    <div class="border-2 bg-black w-5/6 self-center"></div>
    <table class="table-auto">
      <thead>
        <tr class="bg-gray-500 text-white text-left">
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |recipe_food| %>
          <tr class="odd:bg-gray-200">
            <td>
              <%= recipe_food.food.name %>
            </td>
            <td>
              <%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %>
            </td>
            <td>
              $<%= recipe_food.food.price * recipe_food.quantity %>
            </td>
            <td class="inline-flex justify-between px-2 gap-3">
              <%=form_with model: Food.new, url: foods_path, method: :get do %>
                <button class="text-green-300" disabled>modify</button>
              <% end %>
              <%=form_with model: Food.new, url: foods_path, method: :get do %>
                <button class="text-red-300" disabled>delete</button>
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</section>
